@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap");
@import "tailwindcss";

@theme {
  --color-primary: #ff6b32;
}
@layer base {
  body {
    font-family: "Source Sans Pro", ui-sans-serif, system-ui;
  }
}
